body{

font-family:Arial;

padding:30px;

}

section{

margin-bottom:40px;

}

button{

padding:10px 20px;

cursor:pointer;

margin:5px;

}

input{

padding:10px;

width:250px;

}

#parent{

background:lightblue;

padding:30px;

}

li{

cursor:pointer;

margin:10px;

}